<config xmlns="config" active="true" onlyThis="false" patch="default,telegram_chat_en">

    <description>
        ngcontroller package
    </description>

    <get url="/api/public/v2/chat/history?lang=EN">

        <header name="Content-Type" value="application/json"></header>

        <response code="200" file="action_1.json"/>

        <comment>
            Get collection ChatHistoryDateWrapperDto.
            We receive history only for ChatLang.EN - this parameter is
            hardcoded in the code, and @RequestParam ("lang") does not affect anything.
        </comment>
    </get>
</config>
