<config xmlns="config" active="true" onlyThis="false" patch="default">

    <description>
        ngcontroller package. Testing methods NgPublicController
    </description>

    <get url="/api/public/v2/news">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_1.json"/>

        <comment>
            Get News - default RequestParam.
        </comment>
    </get>

    <get url="/api/public/v2/news?offset=1&amp;count=5&amp;index=1">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_2.json"/>

        <comment>
            Get News - custom RequestParam (offset=1,count=5,index=1).
        </comment>
    </get>
</config>
