<config xmlns="config" active="true" onlyThis="false" patch="default">

    <description>
        ngcontroller package
    </description>

    <get url="/api/public/v2/all-pairs">

        <header name="Content-Type" value="application/json"></header>

        <response code="200" file="action_1.json"/>

        <comment>
            Get collection CurrencyPair.
        </comment>
    </get>
</config>
