<config xmlns="config" active="true" onlyThis="true" patch="IEO_DETAILS">

    <description>
        ngcontroller package
    </description>

    <get url="/api/public/v2/ieo">

        <header name="Content-Type" value="application/json"></header>

        <response code="200" file="action_1.json"/>

        <comment>
            Get collection IEODetails.
        </comment>
    </get>
</config>
