<config xmlns="config" active="true" onlyThis="false" patch="default,ieo_subscribe">

    <description>
        ngcontroller package. Testing methods NgPublicController
    </description>

    <post url="/api/public/v2/ieo/subscribe/email">

        <header name="Content-Type" value="application/json"/>
        <body>
            <param name="email" value="delfin693@yandex.ru"/>
        </body>
        <response code="200" file="action_1.json"/>

        <comment>
            We sign an existing email address to the mailing list.
        </comment>
    </post>

    <post url="/api/public/v2/ieo/subscribe/email">

        <header name="Content-Type" value="application/json"/>
        <body>
            <param name="email" value="newema1l@yandex.ru"/>
        </body>
        <response code="200" file="action_2.json"/>

        <comment>
            New email address sign up for mailing.
        </comment>
    </post>
</config>
