<config xmlns="config" active="true" onlyThis="false" patch="default,merchant_currency">

    <description>
        ngcontroller package. Testing methods NgPublicController
    </description>

    <get url="/api/public/v2/fiat-currencies">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_1.json"/>

        <comment>
            Get CurrencyPairRates without RequestParam.
        </comment>
    </get>
</config>
