<config xmlns="config" active="true" onlyThis="false" patch="default,user">

    <description>
        ngcontroller package
    </description>

    <get url="/api/public/v2/if_username_exists?username=newname">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_1.json"/>

        <comment>
            New username exists.
        </comment>
    </get>

    <get url="/api/public/v2/if_username_exists?username=test0817">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_2.json"/>

        <comment>
            New username not exists.
        </comment>
    </get>
</config>
