<config xmlns="config" active="true" onlyThis="false" patch="default">

    <description>
        ngcontroller package. Testing methods NgPublicController
    </description>

    <get url="/api/public/v2/info/max/BTC">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_1.json"/>

        <comment>
            Get currencyPairInfo.
        </comment>
    </get>

    <get url="/api/public/v2/info/max/AAA">

        <header name="Content-Type" value="application/json"/>

        <response code="400" file="action_2.json"/>

        <comment>
            No results - throw NgDashboardException. Wrong path variable - fake name AAA.
        </comment>
    </get>
</config>
