<config xmlns="config" active="true" onlyThis="false" patch="default,user,exorders">

    <description>
        ngcontroller package. Testing methods NgPublicController
    </description>

    <get url="/api/public/v2/info/54">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_1.json"/>

        <comment>
            Get currencyPairInfo.
        </comment>
    </get>

    <get url="/api/public/v2/info/734">

        <header name="Content-Type" value="application/json"/>

        <response code="200" file="action_2.json"/>

        <comment>
            Return default currencyPairInfo. Wrong parameters 734.
        </comment>
    </get>

    <get url="/api/public/v2/info/-1">

        <header name="Content-Type" value="application/json"/>

        <response code="400" file="action_3.json"/>

        <comment>
            Throw NgResponseException. Cannot get to currency pair info Currency pair not found.
        </comment>
    </get>
</config>
